* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden; /* evita scroll del navegador, el "SO" maneja su propio espacio */
  background: #0B132B;
}